In [ ]:
from __future__ import print_function
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree
import warnings
import pickle

In [ ]:
#Data reading
import numpy as np
import pandas as pd
path="/content/Crop_recommendation.csv"
df=pd.read_csv(path)
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [ ]:
x=df['label'].unique()
x

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [ ]:
df['label'].value_counts()

banana         100
jute           100
coconut        100
blackgram      100
kidneybeans    100
apple          100
rice           100
orange         100
chickpea       100
lentil         100
muskmelon      100
mango          100
pigeonpeas     100
watermelon     100
grapes         100
mungbean       100
papaya         100
maize          100
mothbeans      100
cotton         100
coffee         100
pomegranate    100
Name: label, dtype: int64

In [ ]:

df.shape
#data preprocessing

(2200, 8)

In [ ]:
df.dtypes

N                int64
P                int64
K                int64
temperature    float64
humidity       float64
ph             float64
rainfall       float64
label           object
dtype: object

In [ ]:
df.isna().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [ ]:
df.describe()

                 N            P  ...           ph     rainfall
count  2200.000000  2200.000000  ...  2200.000000  2200.000000
mean     50.551818    53.362727  ...     6.469480   103.463655
std      36.917334    32.985883  ...     0.773938    54.958389
min       0.000000     5.000000  ...     3.504752    20.211267
25%      21.000000    28.000000  ...     5.971693    64.551686
50%      37.000000    51.000000  ...     6.425045    94.867624
75%      84.250000    68.000000  ...     6.923643   124.267508
max     140.000000   145.000000  ...     9.935091   298.560117

[8 rows x 7 columns]

In [ ]:
x=df.iloc[:,0:7]
y=df.iloc[:,-1]
x

        N   P   K  temperature   humidity        ph    rainfall
0      90  42  43    20.879744  82.002744  6.502985  202.935536
1      85  58  41    21.770462  80.319644  7.038096  226.655537
2      60  55  44    23.004459  82.320763  7.840207  263.964248
3      74  35  40    26.491096  80.158363  6.980401  242.864034
4      78  42  42    20.130175  81.604873  7.628473  262.717340
...   ...  ..  ..          ...        ...       ...         ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507
2196   99  15  27    27.417112  56.636362  6.086922  127.924610
2197  118  33  30    24.131797  67.225123  6.362608  173.322839
2198  117  32  34    26.272418  52.127394  6.758793  127.175293
2199  104  18  30    23.603016  60.396475  6.779833  140.937041

[2200 rows x 7 columns]

In [ ]:
accuracy = []

model_1=[]
out_name=[]

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=0)

In [ ]:
sample_input= [[87,50,	21,	16.534223,	85.987654,	7.502985	,200.935536]]

In [ ]:
a=list()

In [ ]:
import math
class Multiple_regressor():
  def __init__(self):
    self.df = pd.read_csv('/content/Crop_recommendation.csv')
    self.profits = pd.read_csv('/content/profits.csv')
    pass
 
  def NearestNeighbors(self,test,kNeighhbors):

  #arr = np.zeros(df.shape[0],np.int)
    self.arr = list()
    for i,x in enumerate(self.df.values):
      #print(test,x)
      dist = np.linalg.norm(test - x[:-1])
      self.arr.append((dist,i))
    self.arr.sort()
    self.NearestClasses = list()
    for i,x in enumerate(self.arr[:kNeighhbors]):
      self.NearestClasses.append((i,self.df.iloc[x[1],-1]))
    self.prof_inv_ratio = dict()
    for i,x in enumerate(self.profits.values):      
      self.prof_inv_ratio.update({x[0]:x[-1]/x[1]})
    self.display() 
  
  def display(self):
        for x in self.NearestClasses:
          a=[x[1],self.prof_inv_ratio[x[1]]]
          print(a)

In [ ]:
o=Multiple_regressor()
o.NearestNeighbors(sample_input[0],3)

['rice', 0.1497803599263143]
['jute', 0.04498516705302576]
['rice', 0.1497803599263143]

In [ ]:
pickle.dump(o,open('model.pkl','wb'))
model=pickle.load(open('model.pkl','rb'))
model.NearestNeighbors([90,42,43,20.879743,82.002,6.50,202.93],3)

['rice', 0.1497803599263143]
['rice', 0.1497803599263143]
['rice', 0.1497803599263143]